META_PIXEL_ID=1265085375004506
META_ACCESS_TOKEN=EAAUeWZCCXFYoBRHsfuSZApnv4lOSWTx2GRzkZCQxDBoE0TFQY87z4ZAJOYNnul2knZB4t7Kbo8usHonx3QhrVfC7ZCGZBadZBRVrxA4QHYbcZBGTO72Dp2sdi0UQSLsvnEPo1G1f5zt9eLKLxbj3imrXjOFckDqwlCnRQPTom8Fep7GnsQQgdaNZCqZAZA1oxxM9wQZDZD
META_API_VERSION=v20.0
META_TEST_EVENT_CODE=
PORT=3000
HOST=127.0.0.1
